 <launch>
   <!--node pkg="server" type="server" name="server.py" output="screen"/-->

   <!-- joy node -->
   <node respawn="true" pkg="joy" type="joy_node" name="joy">
     <param name="dev" type="string" value="/dev/input/js0" />
     <param name="deadzone" value="0.12" />
   </node>

   <node pkg="joint_publisher" type="joint_state_publisher.py" name="joint_state_publisher" output="screen"/>
 </launch>
